body {
  font-family: "Montserrat";
}

h1 {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
  animation-duration: 3s;
  animation-name: flipInX;
}

h2 {
  font-family: "Montserrat-bold";
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat-bold";
  font-size: 25px;
}

p {
  font-family: 'Roboto Slab', serif;
  color: #8f8f8f;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.navbar {
  padding: 0 0 7.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.3rem;
  font-family: "Montserrat-light";
}

.Title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

.Download-button {
  margin: 5% 3% 5% 0;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

.pricing-column {
  padding: 3% 2%;
  text-align: center;
}

.pricing-text {
  text-align: center;
}

.info_p {
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

.dog_info {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.cta-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.social-icon {
  margin: 20px 10px;
  color: Black;
}

#title {
  color: #fff;
  background-color: #ff4c68;
}

#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

#pricing {
  padding: 100px;
}

#dogs_info {
  padding: 100px;
}

#dogs_info2 {
  padding: 20px 100px;
}

#cta {
  background-color: #ff4c68;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}

#footer {
  padding: 7% 15%;
  text-align: center;
}

@media (max-width:1028px) {
  #title {
    text-align: center;
  }

  .Title-image {
    position: static;
    transform: rotate(0);
  }
}

@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

.flipInX {
  animation-name: flipInX;
}
